.lh-hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-primary);
  padding: 0 calc(var(--spacing) * 1);
  height: 100vh;
  @media screen and (min-width: 600px) {
    padding: 0 calc(var(--spacing) * 10);
  }

  ol {
    padding: 0;
    width: 100%;
    li {
      padding: calc(var(--spacing) / 1.5);
      border-bottom: 1px solid;
    }
  }
}
