.lh-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 2% auto;
}

.button-primary {
  width: 200px;
  margin: auto;
  background: transparent;
  border: none;

  border-radius: 3px;
  cursor: pointer;
}

.modal {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 80vw;
  height: 80vh;
  background: salmon;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 3000px rgba(153, 222, 100, 0.5);
  .modal-exit {
    position: absolute;
    right: 0;
    font-weight: bold;
    cursor: pointer;
    color: black;
  }
}

.modal-message {
  margin: auto;
  color: whitesmoke;
  h2 {
    text-align: center;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
