html {
  font-size: 20px;
}

body {
  font-family: var(--Sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #000000;
  padding: 2%;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}
#app {
}

ul.lh-list {
  list-style: none;
  padding-left: 0;
  li {
    padding: 20px 0;
    border-bottom: 1px solid;
  }
}
