html {
  font-size: 20px;
}

body {
  font-family: $font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #2c3e50;
  padding: 2%;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: $font-serif;
}
#app {
}
