.lh-block {
  border: 1px solid;

  &__content {
    margin: calc(var(--spacing) * 2) 0;
    padding: 0 calc(var(--spacing) * 1);

    @media screen and (min-width: 600px) {
      padding: 0 calc(var(--spacing) * 10);
    }

    h1 {
      padding: calc(var(--spacing) * 4) 0;
      border-top: 1px solid;
      border-bottom: 1px solid;
      text-align: center;
    }
  }

  &__grid {
    display: flex;

    p {
      margin-top: 0px;
    }

    &--item {
      flex: 1;
      border: 1px solid;
    }
  }
}

.light {
  background-color: #fafafa;
  a {
    color: red;
  }
}

.purple {
  color: purple !important;
  a {
    color: red;
  }
}
