.lh-block {
  border: 1px solid;

  a {
    text-decoration: underline;
  }
  &__content {
    margin: calc(var(--spacing) * 4) 0;
    padding: 0 calc(var(--spacing) * 1);

    @media screen and (min-width: 600px) {
      padding: 0 calc(var(--spacing) * 10);
    }

    h1 {
      padding: calc(var(--spacing) * 4) 0;
      border-top: 1px solid;
      border-bottom: 1px solid;
      text-align: center;
    }
  }

  &__textBlock {
    margin: 0 auto;
    max-width: 30rem;
  }

  &__grid {
    display: flex;

    p {
      margin-top: 0px;
    }

    &--item {
      flex: 1;
      border: 1px solid;
    }
  }

  &__factBox {
    background-color: pink;
    padding: calc(var(--spacing) * 4);
  }
}

.light {
  background-color: #fafafa;
}
