.row {
  padding: 0 0 calc(var(--spacing) * 4) 0;
}

.hero {
  margin-bottom: calc(var(--spacing) * 4);
}

.lh-block {
  a {
    text-decoration: underline;
  }
  &__content {
    h1 {
      padding: calc(var(--spacing) * 4) 0;
      border-top: 1px solid;
      border-bottom: 1px solid;
      text-align: center;
    }
  }

  &__factBox {
    background-color: var(--color-primary);

    padding: calc(var(--spacing) * 4);
  }
}

blockquote {
  font-size: 3rem;
  font-family: var(--Serif);
}

.light {
  background-color: #fafafa;
}
