p {
  max-width: 75ch;
}

/* Variations for font size and line height */

p {
  font-size: calc(var(--p-font-size) * 1);
  line-height: var(--p-line-height);
  transition: all linear 0.2s;
  @media (--lg) {
    font-size: calc(var(--p-font-size) * 1.3);
    line-height: var(--p-line-height);
  }
}
h1 {
  font-family: var(--Serif);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;

  transition: all linear 0.2s;
  max-width: 100vw;
  font-feature-settings: "liga" 1, "kern" 1;
}

h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
  margin-top: 20px;
}

h1 {
  font-size: calc(var(--h1-font-size) * 1);
  line-height: var(--h1-line-height);
  @media screen and (min-width: 768px) {
    font-size: calc(var(--h1-font-size) * 3);
  }
}

h2 {
  font-size: calc(var(--h2-font-size) * 2);
  line-height: var(--h2-line-height);
  @media screen and (min-width: 768px) {
    font-size: calc(var(--h2-font-size) * 3);
    line-height: var(--h2-line-height);
  }
}

h3 {
  font-size: calc(var(--h3-font-size) * 2);
  line-height: var(--h3-line-height);
  @media screen and (min-width: 768px) {
    font-size: calc(var(--h3-font-size) * 3);
    line-height: var(--h3-line-height);
  }
}
