@font-face {
  font-family: "larish_neuesemibold";
  src: url("/assets/fonts/larishneuesemibold-regular-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/larishneuesemibold-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neutral";
  src: url("/assets/fonts/Neutral.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Neutral.otf") format("opentype"),
    url("/assets/fonts/Neutral.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Colors */
  --color-primary: #72e8d4;
  --color-secondary: #00a695;
  /* Fonts */
  --Sans: "Neutral", sans-serif;
  --Serif: "larish_neuesemibold", serif;

  /* Font Sizes */
  --main-font-size: calc(14px + 3 * ((100vw - 420px) / 860));
  --xs: 440px;
  --md: 620px;
  --lg: 1000px;
  --xl: 1280px;
  /* Spacings */
  --spacing: 24px;
  /* Wrapper Padding*/
  --p-line-height: 1.6;
  --p-font-size: 1rem;
  --h1-line-height: 1.2;
  --h1-font-size: 1.8rem;
  --h2-line-height: 1.35;
  --h2-font-size: 1rem;
  --h3-line-height: 1.05;
  --h3-font-size: 0.5rem;
  /* Breakpoints */
  --breakpoint-xs: 576px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1200px;
}
