@font-face {
  font-family: "Neutral";
  src: url("/assets/fonts/NeutralBP.4cff5c9.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/NeutralBP.4cff5c9.otf") format("opentype"),
    url("/assets/fonts/NeutralBP.4cff5c9.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Larish-Neue";
  src: url("/assets/fonts/LarishNeueSemibold-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/LarishNeueSemibold-Regular.otf") format("opentype"),
    url("/assets/fonts/LarishNeueSemibold-Regular.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

:root {
  /* Colors */
  --color-primary: pink;

  /* Fonts */
  --Sans: "Neutral", sans-serif;
  --Serif: "Larish-Neue";

  /* Font Sizes */
  --main-font-size: calc(14px + 3 * ((100vw - 420px) / 860));

  --xs: 440px;
  --md: 620px;
  --lg: 1000px;
  --xl: 1280px;

  /* Spacings */
  --spacing: 24px;
  /* Wrapper Padding*/
  --p-line-height: 1.6;
  --p-font-size: 1rem;
  --h1-line-height: 1.2;
  --h1-font-size: 1.8rem;
  --h2-line-height: 1.35;
  --h2-font-size: 1.2rem;
  --h3-line-height: 1.05;
  --h3-font-size: 0.9rem;
}
